body {
   font-family: 'Quicksand', sans-serif;
   font-size: 18px;
   background-color: #eeeaea;
   margin: auto;
   max-width: 1280px;
   min-width: 720px;
   color: #333;
}

h1 {
   font-size: 4em;
}

h1,
h2 {
   text-align: center;
   font-family: 'Satoshi', sans-serif;
   font-weight: 900;
   margin: 30px 5px 5px 5px;
}

h3,
h4,
h5,
h6 {
   text-align: center;
   font-family: 'Satoshi', sans-serif;
   font-weight: 600;
   margin: 20px 5px 5px 5px;
}


p {
   margin: 10px;
}

a {
   font-weight: 900;
   color: #473ca6;
}

span {
   margin: 5px;
   display: inline;
}

* {
   box-sizing: border-box;
}

#stickylegend {
   position: -webkit-sticky;
   /* Safari */
   position: sticky;
   top: 0;
   z-index: 100;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-content: flex-start;
   gap: 0px;
   background-color: #eeeaea;
}

.legend {
   font-family: 'Satoshi', sans-serif;
   color: #fff;
   font-weight: 700;
   font-size: 1.2em;
   display: inline;
   padding: 1px 7px 2px 7px;
   border-radius: 10px;
}

#legendlabel {
   color: #333;
}

.electronic {
   /*orange*/
   background-color: #E79556;
}

.hiphop {
   /*pink*/
   background-color: #EC4176;
}

.other {
   /*dark red*/
   background-color: #A13670;
}

.rock {
   /*blue*/
   background-color: #12348D;
}

.soul {
   /*dark purple*/
   background-color: #9043C3;
}

.unknown {
   /*gray*/
   background-color: #aaa;
}

.electronictext {
   /*orange*/
   color: #E79556;
}

.hiphoptext {
   /*pink*/
   color: #EC4176;
}

.othertext {
   /*dark red*/
   color: #A13670;
}

.rocktext {
   /*blue*/
   color: #12348D;
}

.soultext {
   /*dark purple*/
   color: #9043C3;
}

.unknowntext {
   /*gray*/
   color: #999;
   font-style: italic;
}

.writing {
   margin: 25px auto;
   width: 65%;
   min-width: 700px;
}

#album,
#tinylegend {
   position: relative;
   text-align: center;
   margin: 0;
   border-radius: 50%;
}

#album:hover,
#album:active,
#tinylegend:hover,
#tinylegend:active {
  animation-name: spin;
  animation-duration: 3.6s;
  animation-iteration-count: 1;
  animation-delay: 250ms;
  animation-timing-function: ease-in-out; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#albumlabel {
   font-family: 'Satoshi', sans-serif;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 1.7em;
   line-height: 1.2;
}

#albumlegend {
   text-align: center;
   margin: 0;
   font-size: 1.1em;
}

#albumyear {
   text-align: center;
   margin: 0;
   font-size: 0.7em;
   vertical-align: text-top;
}

.charttitle {
   position: absolute;
   font-family: 'Satoshi', sans-serif;
   margin: 0px 5px;
   line-height: 1.05em;
}

.wrapper {
   margin: 30px auto;
   width: 50%;
   display: flex;
   justify-content: center;
}

#sbyarea {
   position: relative;
   height: 315px;
}

#sbychart {
   position: relative;
   top: 30px;
   left: 0px;
}

#sbtarea {
   position: relative;
   height: 720px;
}

#sbtchart {
   position: relative;
   top: 50px;
   left: 0px;
}


#allbites {
   margin: 60px auto;
   width: 80%;
   min-width: 720px;
   display: flex;
   justify-content: center;
   align-content: center;
   flex-direction: column;
}

.fourbites {
   flex-basis: auto;
   display: flex;
   justify-content: center;
   align-content: center;
}

.bite {
   position: relative;
   text-align: center;
   margin: 0;
   display: inline;
}

.bitelabel {
   font-family: 'Satoshi', sans-serif;
   color: #444;
   font-weight: 400;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 0.7em;
   line-height: 1;
}

.gatefold {
   font-family: 'Satoshi', sans-serif;
   font-weight: 700;
   margin: 30px auto;
   width: 720px;
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
   border: 0px solid gray;
}

.gatefoldbite {
   position: relative;
   text-align: center;
   margin: 0;
   width: 50%;
}

.gatefoldbitelabel {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 50%;
   transform: translate(-50%, -50%);
   font-size: 1.2em;
   line-height: 1.1;
}

.gatefoldcredit {
   width: 360px;
   padding: 15px 30px;
   font-size: 0.7em;
}

.credit {
   font-weight: 900;
   padding: 1px 0px;
   display: block;
   margin: 1px;
}

.gatefoldnotes {
   font-weight: 400;
   padding: 15px auto;
   font-size: 0.9em;
}

.btn,
.btn:hover,
.btn:active,
.btn:focus,
.btn:visited,
.btn:focus-visible,
.collapsed,
.collapsing,
.collapsing:active {
   padding: 0px;
   background-color: transparent;
   border: 0px solid transparent;
   font-size: inherit;
   line-height: inherit;
   outline: 0px solid transparent;
   box-shadow: none;
   border-radius: 0px;
}

footer {
   font-family: 'Satoshi', sans-serif;
   margin: 150px auto 30px auto;
   width: 50%;
   min-width: 400px;
   text-align: left;
   border: 1px solid #EC4176;
   border-radius: 30px;
   padding: 15px;
   color: #262254;
   font-size: 1em;
   line-height: 1.1;
   background-color: #EC417622;
}